.conteudo-proposito {
    display: flex;
    align-items: center;
    gap: 250px;
}
.container
.logo {
    margin-top: -15px;
    width: 250px;   /* largura da imagem */
    height: 250px;  /* altura da imagem */
}
hr {
    border: none;
    height: 2px;
    background-color: #ccc;
    margin: 40px 0;
}
.div .col-md-3 {
    gap: 400px;
}